.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trending-container {
  /* width: 100%; */
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  overflow: hidden;
  display: flex;
}

.trending-container::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  top: 70px;
  background-color: #ccc;
}

.photo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.photo-card img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.photo-details {
  margin-top: 10px;
}

.calendar-logo {
  font-size: 20px;
  margin-right: 5px;
}

.date {
  font-size: 14px;
  color: #888;
  cursor: text;
}

.photo-title {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.photo-card img:hover {
  transform: scale(1.1);
}

.photo-title:hover {
  text-decoration: underline;
  text-decoration-color: blue;
}
.main{
  display: flex;
}
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }

